In [1]:
import pandas as pd
from warnings import filterwarnings

In [2]:
filterwarnings("ignore")

In [3]:
train_set=pd.read_csv("C:\\Users\\khush\\OneDrive\\Desktop\\train_u6lujuX_CVtuZ9i.csv")
test_set=pd.read_csv("C:\\Users\\khush\\Downloads\\test_Y3wMUE5_7gLdaTN.csv")

In [4]:
train_set.shape

(614, 13)

In [5]:
train_set.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
test_set.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [7]:
train_set.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
test_set.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

# Data Cleaning

In [9]:
from MLTools import replacer
replacer(train_set)

In [10]:
from MLTools import replacer
replacer(test_set)

In [11]:
train_set.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
test_set.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [13]:
train_set.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [14]:
df=train_set.drop(labels=["Loan_ID","Loan_Status"],axis=1)

In [ ]:
from MLTools import preprocessing
Xnew=preprocessing(df)

# Machine Learning Training and Testing

In [16]:
X=Xnew
Y=train_set['Loan_Status']

In [17]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In [18]:
#Building The Model : KNN Classification

from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier(n_neighbors=5)
model=knc.fit(xtrain,ytrain)
ts_pred= model.predict(xtest.values)                                        
tr_pred= model.predict(xtrain.values)
from sklearn.metrics import accuracy_score,confusion_matrix
ts_acc=accuracy_score(ytest,ts_pred)                                  #testing accuracy
tr_acc=accuracy_score(ytrain,tr_pred)                                 #training acuuracy

# KNN Classification

In [19]:
#Because our Metric is Recall Score I am Using Classification_Report to get the enitre summary

from sklearn.metrics import classification_report
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.73      0.50      0.59        38
           Y       0.80      0.92      0.86        85

    accuracy                           0.79       123
   macro avg       0.77      0.71      0.73       123
weighted avg       0.78      0.79      0.78       123

In [20]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(random_state=21,criterion="entropy")      #trying out using entropy
model=dtc.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred= model.predict(xtest)
tr_acc=accuracy_score(ytrain,tr_pred)
ts_acc=accuracy_score(ytest,ts_pred)
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.52      0.68      0.59        38
           Y       0.84      0.72      0.77        85

    accuracy                           0.71       123
   macro avg       0.68      0.70      0.68       123
weighted avg       0.74      0.71      0.72       123

In [21]:
tr_acc

1.0

In [22]:
ts_acc

0.7073170731707317

In [23]:
tg={"max_depth":range(2,20,1),"criterion":['gini','entropy']}
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv=GridSearchCV(dtc,tg,scoring="recall",cv=4)
cvmodel=cv.fit(X,Y)
cvmodel.best_params_

{'criterion': 'gini', 'max_depth': 2}

In [24]:
dtc= DecisionTreeClassifier(random_state=21,criterion="gini",max_depth=2)
model=dtc.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred= model.predict(xtest)
tr_acc=accuracy_score(ytrain,tr_pred)
ts_acc=accuracy_score(ytest,ts_pred)
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.86      0.50      0.63        38
           Y       0.81      0.96      0.88        85

    accuracy                           0.82       123
   macro avg       0.84      0.73      0.76       123
weighted avg       0.83      0.82      0.80       123

In [25]:
tg={"min_samples_leaf":range(2,20,1),"criterion":['gini','entropy']}
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv=GridSearchCV(dtc,tg,scoring="recall",cv=4)
cvmodel=cv.fit(X,Y)
cvmodel.best_params_

{'criterion': 'gini', 'min_samples_leaf': 2}

In [26]:
dtc= DecisionTreeClassifier(criterion="gini",min_samples_leaf=2)
model=dtc.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred= model.predict(xtest)
tr_acc=accuracy_score(ytrain,tr_pred)
ts_acc=accuracy_score(ytest,ts_pred)
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.49      0.61      0.54        38
           Y       0.80      0.72      0.76        85

    accuracy                           0.68       123
   macro avg       0.65      0.66      0.65       123
weighted avg       0.71      0.68      0.69       123

In [27]:
tg={"min_samples_split":range(2,20,1),"criterion":['gini','entropy']}
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv=GridSearchCV(dtc,tg,scoring="recall",cv=4)
cvmodel=cv.fit(X,Y)
cvmodel.best_params_

{'criterion': 'gini', 'min_samples_split': 2}

In [28]:
dtc= DecisionTreeClassifier(random_state=21,criterion="gini",min_samples_split=2)
model=dtc.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred= model.predict(xtest)
tr_acc=accuracy_score(ytrain,tr_pred)
ts_acc=accuracy_score(ytest,ts_pred)
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.51      0.61      0.55        38
           Y       0.81      0.74      0.77        85

    accuracy                           0.70       123
   macro avg       0.66      0.67      0.66       123
weighted avg       0.72      0.70      0.71       123

# Desicion Tree

In [29]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(random_state=21,n_estimators=20)  #trying out n_estimators as 20
model=rfc.fit(xtrain,ytrain)
tr_pred=model.predict(xtrain)
ts_pred=model.predict(xtest)
tr_acc=accuracy_score(ytrain,tr_pred)
ts_acc=accuracy_score(ytest,ts_pred)
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.65      0.53      0.58        38
           Y       0.80      0.87      0.84        85

    accuracy                           0.76       123
   macro avg       0.72      0.70      0.71       123
weighted avg       0.76      0.76      0.76       123

In [30]:
tg={"n_estimators":range(2,30,1),"max_depth":range(2,20)}
rfc=RandomForestClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv=GridSearchCV(rfc,tg,scoring="recall",cv=4)
cvmodel=cv.fit(X,Y)
cvmodel.best_params_

{'max_depth': 2, 'n_estimators': 2}

# Random Forest Classifier

In [31]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(random_state=21,n_estimators=2,max_depth=2)
model=rfc.fit(xtrain,ytrain)
tr_pred=model.predict(xtrain)
ts_pred=model.predict(xtest)
tr_acc=accuracy_score(ytrain,tr_pred)
ts_acc=accuracy_score(ytest,ts_pred)
print(classification_report(ytest,ts_pred))

              precision    recall  f1-score   support

           N       0.86      0.50      0.63        38
           Y       0.81      0.96      0.88        85

    accuracy                           0.82       123
   macro avg       0.84      0.73      0.76       123
weighted avg       0.83      0.82      0.80       123

In [32]:
confusion_matrix(ytest,ts_pred)

array([[19, 19],
       [ 3, 82]], dtype=int64)

In [33]:
test_df=test_set.drop('Loan_ID',axis=1)

In [34]:
test_X = preprocessing(test_df)

In [35]:
test_X.shape

(367, 20)

In [36]:
train_X=X

In [37]:
train_X.shape

(614, 20)

# Prediction and Testing

In [38]:
S=model.predict(test_X)

In [39]:
Solution=pd.DataFrame(test_set['Loan_ID'])

In [40]:
Solution['Loan_Status']=S

In [41]:
Solution

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

## Adding Predicted Value column to our dataset

In [42]:
Solution.to_csv("C:/Users/khush/OneDrive/Desktop/ML_Project_Submission.csv")

In [43]:
Predictied_Set=pd.DataFrame(test_set)

In [44]:
Predictied_Set['Loan_Status']=S

In [45]:
Predictied_Set

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.000000,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.000000,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.825444,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.000000,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.000000,Rural,Y